@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove margin from body */
body {
  margin: 0;
}

/* Ensure the entire app takes full height of the viewport */
html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

